// -----------
//  Base Styles and Layout
// -----------
html, body {
    height: 100%;
    font-size: 112.5%;
}

body {
    box-sizing: border-box;
    font-family: $font-family;
}

main {
    margin-bottom: $space-large;
}

a {
    color: $promptpurple;
    font-weight: $font-weight-bold;
}

.button {
    padding: $space-small;
    border-radius: 3px;
    border: 0;
    background-color: $promptpurple;
    color: white;
    font-size: 1rem;
    font-family: $font-family;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

input[type='submit'],
button {
    -webkit-appearance: button;
}

// -----------
//  Typography
// -----------

h1, h2, h3, h4, h5, h6, p, dt, dd {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: $space-small;
}

h1 {
    font-size: 1rem * $typescale * $typescale * $typescale * $typescale * $typescale * $typescale;
    font-weight: $font-weight-bold;
}

h2 {
    font-size: 1rem * $typescale * $typescale * $typescale * $typescale * $typescale;
    font-weight: $font-weight-bold;
}

h3 {
    font-size: 1rem * $typescale * $typescale * $typescale * $typescale;
    font-weight: $font-weight-bold;
}

h4 {
    font-size: 1rem * $typescale * $typescale * $typescale;
    font-weight: $font-weight-bold;
}

h5 {
    font-size: 1rem * $typescale * $typescale;
    font-weight: 900;
}

h6 {
    font-size: 1rem * $typescale;
    font-weight: 900;
}
  
p {
    font-size: 1rem;
    margin-bottom: $space-standard;
}

$font-size-small: 1rem / $typescale;

p:last-child {
    margin-bottom: 0;
}

ul, ol {
    margin-bottom: $space-standard;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: $space-small;
}

li {
    line-height: 2;
}

dd + dt {
    margin-top: $space-small;
}

strong {
    font-weight: $font-weight-bold;
}

em {
    font-style: italic;
}


// -----------
//  Page and Section Styles
// -----------

.countdown {
    position: absolute;
    top: $space-large;
    left: 50%;
    transform: translateX(-50%);
    width: 45ch;
    max-width: 100%;
    text-align: center;
    padding: $space-small 1rem;
    background: $sky;
    color: $ocean;
    font-weight: 500;
    font-size: $font-size-small;
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
    padding: $space-standard;
    border-bottom: $border-sections;
}

.header--home {
    display: block;
    padding: $space-jumbo $space-standard $space-standard;
    text-align: center;
    overflow: hidden;

    .header__logo {
        display: none;
    }
}

.header__logo {
    max-height: 3rem;
}

.header__date-loc {
    font-weight: $font-weight-bold;

    span {
        margin-right: $space-standard;
    }
}

.header__cta {
    margin-top: $space-xlarge;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: $space-xlarge auto $space-small;
    max-width: 65ch;
    // TODO: this should be grid with a specified gap

    // @media screen and (max-width: 60rem) {
    //     flex-direction: column;
    //     width: max-content;
    // }
}

.nav__item {
    padding: .25rem .5rem;
    background-color: white;
    color: $marigold;
    font-weight: $font-weight-bold;
    text-decoration: none;
}

.nav__item--active {
    text-decoration: underline;
}

.ellipse {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.ellipse--left-a {
    background-image: url('../images/home/ellipse_left-a.svg');
    top: 0;
    left: 0;
    width: 6vw;
    height: 13vh;
}
.ellipse--left-b {
    background-image: url('../images/home/ellipse_left-b.svg');
    top: 4vh;
    left: 2vw;
    width: 24vw;
    height: 33vh;
}
.ellipse--left-c {
    background-image: url('../images/home/ellipse_left-c.svg');
    top: 50%;
    left: 2%;
    width: 20vw;
    height: 30vh;
}
.ellipse--right-a {
    background-image: url('../images/home/ellipse_right-a.svg');
    width: 279.05px;
    height: 305.5px;
    top: 0;
    right: 3%;
}
.ellipse--right-b {
    background-image: url('../images/home/ellipse_right-b.svg');
    width: 20vw;
    height: 40vh;
    top: 32%;
    right: 0;
}

.tech-icon {
    position: absolute;
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}
.tech-icon--left-a {
    background-image: url('../images/home/icon_window.svg');
    top: 15%;
    right: 16%;
    transform: rotate(10deg);
}
.tech-icon--left-b {
    background-image: url('../images/home/icon_mouse.svg');
    left: 7%;
    bottom: 10%;
    transform: rotate(10deg);
}
.tech-icon--left-c {
    background-image: url('../images/home/icon_cpu.svg');
    right: 16%;
    bottom: 35%;
}
.tech-icon--right-a {
    background-image: url('../images/home/icon_keyboard.svg');
    top: 17%;
    left: 30%;
    transform: rotate(-10deg);
}

.tech-icon--right-b {
    background-image: url('../images/home/icon_computer.svg');
    top: 20%;
    left: 60%;
}
.tech-icon--right-c {
    background-image: url('../images/home/icon_gamepad.svg');
    bottom: 22%;
    left: 15%;
    transform: rotate(-20deg);
}

.section--home {
    padding: $space-xlarge $space-jumbo;
}


.home--button {
    display: inline-block;
    margin: $space-large auto 0;
}

.main--internal {
    padding: $space-xlarge $space-jumbo;
}

.home__attend {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $space-xlarge;
    background: $ocean;
    overflow: hidden;

    a {
        color: $maize;
    }
}

.attend__content {
    color: white;

    h2 {
        margin-bottom: $space-standard;
    }
}

.attend__email {
    border-radius: $border-radius-minor;
    padding: $space-large;
    background: $eggshell;
}

.attend__icon {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.attend__icon--plant {
    background-image: url('../images/home/attend_plant.svg');
    width: 124px;
height: 235.77px;
left: 20%;
bottom: 0;

mix-blend-mode: normal;
}

.attend__icon--photo {
    background-image: url('../images/home/attend_photo.svg');
    left: 12.31%;
    bottom: 27%;
    width: 80px;
    height: 80px;
    transform: rotate(-10deg);
    opacity: 0.3;
}

.attend__icon--ellipse {
    background-image: url('../images/home/attend_ellipse.svg');
    width: 339px;
    height: 299.34px;
    right: 38%;
    top: -21%;
}


.email-newsletter {
    label {
        margin-bottom: $space-small;
        font-size: $font-size-small;
        font-weight: normal;
    }

    .button {
        width: 100%;
        background: $maize;
        color: black;
        box-shadow: 0px 3px 0px #A69E00;
    }

    input[type='email'] {
        border-color: $ocean;
    }
}

.email-newsletter__headline {
    font-size: 1rem;
    margin-bottom: $space-standard;
}

.email-newsletter__address-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-standard;
}

.email-newsletter__address__textbox {
    @include textbox;
}

.email-newsletter li {
    list-style-type: none;
    margin-left: 0;
}

.email-newsletter__checkbox-wrap {
    @include checkbox-wrap;

    label:before,
    label:after {
        border-color: $marigold;
    }
}

.email-newsletter__submit-wrap {
    @media screen and (max-width: 27em) {
        text-align: center;
    }
}

// MailChimp form submission confirmation
.response {
    margin-bottom: $space-standard;
}

.home__speakers {
    display: grid; // TODO: only using this to center the button

    h2 {
        text-align: center;
        margin-bottom: $space-xlarge;
    }
}

.home__sponsors {
    background: $eggshell;
    border-top: $border-sections;
    border-bottom: $border-sections;

    h2 {
        text-align: center;
    }
}

.sponsors__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $space-standard;
}

.sponsors__row:last-of-type {
    margin-bottom: 0;
}

.sponsor__block {
    text-align: center;
}

.sponsor__logo {
    max-width: 18em;

    @media screen and (max-width: 30em) {
        max-width: 75vw;
    }
}

.sponsor__block__level {
    font-weight: $font-weight-bold;
}

.sponsors_cta-text {
    text-align: center;
}

.keynote__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $space-standard;

    @media screen and (max-width: 50em) {
        display: block;
    }
}

.keynote-speaker {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: $space-standard auto;

    @media screen and (max-width: 50em) {
        &+ .keynote-speaker {
            margin-top: $space-standard;
        }
    }
}

.speaker__headshot__wrap {
    grid-row-start: 1;
    grid-row-end: span 2;
    width: 8.8rem;
    height: 9.2rem;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: $box-shadow-standard;
    }
}

.speaker__name-title {
    margin-left: $space-standard;
    grid-row-start: 2;
}

.speaker__name {
    display: block;
    margin-bottom: $space-standard;
    font-weight: $font-weight-bold;
}

$photo-banner-breakpoint: 47rem;

.photo-banner {
    display: grid;
    grid-template-columns: repeat(3, minmax(14rem, 30vw));
    justify-content: space-between;
    padding: $space-xlarge $space-small 0;
    background: $eggshell;

    @media screen and (max-width: $photo-banner-breakpoint) {
        grid-template-columns: 1fr;
    }
}

.photo-banner__item {
    width: 100%;
    padding-top: 66%;
    border-radius: $border-radius-major;
    background-size: cover;
}

.photo-banner__item--a {
    background-image: url(../images/home/chi_conservatory.jpeg);

    @media screen and (max-width: $photo-banner-breakpoint) {
        display: none;
        background-image: none;
    }
}

.photo-banner__item--b {
    background-image: url(../images/home/chi_chicago-theatre.jpeg);
}

.photo-banner__item--c {
    background-image: url(../images/home/chi_el.jpeg);

    @media screen and (max-width: $photo-banner-breakpoint) {
        display: none;
        background-image: none;
    }
}


.home__faq {
    background: $eggshell;
    text-align: center;

    h2 {
        margin-bottom: $space-xlarge;
    }
}

.faq__list {
    max-width: 60ch;
    margin: auto;

    dt {
        font-weight: $font-weight-bold;
        margin-bottom: $space-standard;
    }
    dd {
        margin-bottom: $space-large;
    }
}

.home__loc {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $space-jumbo;
    border-bottom: 2px solid $eggshell;

    h2 {
        margin-bottom: $space-xlarge;
    }
}

.loc__cta-text {
    max-width: 48ch;
    margin: auto;
}

.loc__chicons {
    display: flex;
    justify-content: space-around;
    margin-bottom: $space-xlarge;
}

.loc__chicon {
    width: 4.5rem;
    height: 4.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loc__chicon--music {
    background-image: url(../images/chicons/music.svg);
}

.loc__chicon--flamingo {
    background-image: url(../images/chicons/flamingo.svg);
}

.loc__chicon--donut {
    background-image: url(../images/chicons/donut.svg);
}

.loc__chicon--flag {
    background-image: url(../images/chicons/flag.svg);
}

.loc__chicon--pizza {
    background-image: url(../images/chicons/pizza.svg);
}

.loc__chicon--bean {
    background-image: url(../images/chicons/bean.svg);
}

.loc__chicon--ramps {
    background-image: url(../images/chicons/ramps.svg);
}

.loc__photo-map-banner {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.05fr 0.5fr 1fr;
    grid-column-gap: $space-standard;
    align-items: center;
    margin-bottom: $space-xlarge;

    img {
        max-width: 100%;
        border-radius: $border-radius-major;
    }
}

.loc__map {
    box-shadow: $box-shadow-standard;
    border-radius: $border-radius-major;
}

.home__about {

    h2, h3 {
        margin-bottom: $space-xlarge;
        text-align: center;
    }
}

.home__about__text {
    margin: auto;
    margin-bottom: $space-xlarge;
    max-width: 70ch;
    text-align: center;
}

.organizers-wrap {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: auto;
    grid-column-gap: $space-large;
    grid-row-gap: $space-standard;
    justify-content: space-around;

    @media screen and (max-width: 50em) {
        grid-template-columns: repeat(2, 9rem);
    }
}

.organizer {
    display: flex;
}

.organizer__headshot-wrap {
    width: 4.4rem;
    height: 4.4rem;
    margin-right: $space-standard;

    @media screen and (max-width: 50em) {
        height: 9rem;
    }
}

.organizer__headshot {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: $box-shadow-standard;
}

.organizer__info-wrap {
    p {
        font-size: $font-size-small;
        margin-bottom: 0;
    }
}

.organizer__name {
    font-weight: $font-weight-bold;
}

.footer {
    padding: $space-large;
    background-color: $lightblack;
    color: white;

    a {
        color: $maize;
    }
}

.footer__copyright {
    text-align: center;
    line-height: 1;
    font-size: $font-size-small;
    margin-bottom: $space-large;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    li {
        list-style-type: none;
        margin-left: 0;
        font-size: $font-size-small;
    }

    a {
        text-decoration: none;
        font-weight: normal;
    }
}

.footer__nav__header {
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: normal;
}
