// -----------
//  Variables
// -----------
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900&display=swap');


$promptpurple: #3f178c;

$typescale: 1.2;

$bold: 900;

// -----------
//  Base Styles and Layout
// -----------

body {
    display: grid;
    grid-template-columns: [page-start] minmax(20px, auto) [content-start] minmax(auto, 1000px) [content-end] minmax(20px, auto) [page-end];
    font-family: Roboto;
}

header,
footer {
    grid-column: page-start / page-end;
}

.container {
    grid-column: content-start / content-end;
}

header,
section {
    margin-bottom: 20px;
}

section,
footer {
    border: 1px solid black;
    padding: 20px;
}

.button {
    padding: 0.5em;
    border-radius: 3px;
    border: 0;
    background-color: lavender;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

a.button {
    &:visited,
    &:hover,
    &:active,
    &:focus {
        color: inherit;
    }
}


// -----------
//  Typography
// -----------

h1, h2, h3, h4, h5, h6, p, li {
    line-height: 1.5;
}

h1 {
    font-size: 1em * $typescale * $typescale * $typescale * $typescale * $typescale * $typescale;
    font-weight: 100;
}

h2 {
    font-size: 1em * $typescale * $typescale * $typescale * $typescale * $typescale;
    font-weight: 100;
}

h3 {
    font-size: 1em * $typescale * $typescale * $typescale * $typescale;
    font-weight: 100;
}

h4 {
    font-size: 1em * $typescale * $typescale * $typescale;
    font-weight: 100;
}

h5 {
    font-size: 1em * $typescale * $typescale;
    font-weight: 900;
}

h6 {
    font-size: 1em * $typescale;
    font-weight: 900;
}
  
p {
    font-size: 1em;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 10px;
}

strong {
    font-weight: $bold;
}

em {
    font-style: italic;
}


// -----------
//  Page and Section Styles
// -----------

.header {
    background-color: $promptpurple;
    background-image: url(../images/chicago.jpg);
    background-size: cover;
    background-blend-mode: lighten; // =exclusion, =difference, *hard-light, lighten, =luminosity, screen, =soft-light
    background-position-y: 85%;
}

.header__logo {
    width: 12rem;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav__item {
    padding: 5px 10px;
    background-color: white;
    color: $promptpurple;
    font-weight: $bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav__item--active {
    text-decoration: underline;
}

.email__explain {
    font-style: italic;
}

.sponsors__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor__logo {
    max-width: 20em;
}

.organizers-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.organizer {
    width: 30%;
}

.organizer__headshot-wrap {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.organizer__headshot {
    object-fit: contain;
    width: 100%;
}

.organizer__name-company {
    margin-top: 5px;
}

.organizer__name {
    border-right: 1px solid black;
    padding-right: 5px;
    margin-right: 5px;
    font-weight: $bold;
}

.social-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    text-decoration: none;
    margin: 0 20px;

    i {
        font-size: 2em;
        color: black;
    }
}