@import url('https://rsms.me/inter/inter.css');

$promptpurple: #4C4CBE;
$marigold: #B76239;
$sky: #E0EFF1;
$ocean: #044D62;
$eggshell: #FFFDF9;
$maize: #CEC600;

$font-family: 'Inter';
$typescale: 1.16;

$font-weight-light: 100;
$font-weight-bold: 700;

$space-standard: 1.1rem; // 20px
$space-tiny: $space-standard / 4;
$space-small: $space-standard / 2;
$space-large: $space-standard * 2;
$space-xlarge: $space-standard * 4;
$space-jumbo: $space-standard * 8;

$border-standard: 1px solid $promptpurple;

$border-radius-standard: 4px;
