<footer class='footer'>

    <p class='footer__copyright'>&copy; PromptConf {{ 'now' | date: "%Y" }}</p>

    <nav class="footer__nav">
        <div class="footer__about">
            <h2 class='footer__nav__header'>About</h2>
            <ul>
                <!-- <li><a href={{ site.baseurl }}{{ '/speakers' }} class='gtm-cta'>Speakers</a></li> -->
                <li><a href={{ site.baseurl }}{{ '/sponsorship' }} class='gtm-cta'>Sponsorship</a></li>
                <li><a href={{ site.baseurl }}{{ '/conduct/' }}>Code of Conduct</a></li>
            </ul>
        </div>
        <div class="footer__contact">
            <h2 class='footer__nav__header'>Contact</h2>
            <ul>
                <li>
                    <a class='footer__social-icon gtm-social' href='mailto:organizers@promptconf.com'>organizers@promptconf.com</a>
                </li>
            </ul>
        </div>
        <div class="footer__social">
            <h2 class='footer__nav__header'>Follow Us</h2>
            <ul>
                <li>
                    Twitter: <a class='gtm-social' href='https://twitter.com/promptconf' target='_blank'>@promptconf</a>
                </li>
                <li>
                    Facebook: <a class='gtm-social' href='https://facebook.com/promptconf' target='_blank'>promptconf</a>
                </li>
                <li>
                    Instagram: <a class='gtm-social' href='https://instagram.com/promptconfchi' target='_blank'>promptconfchi</a>
                </li>
                <li>
                    <a class='gtm-social' href='https://www.youtube.com/channel/UCZuCZJLCg0f_LfxwfgXZ8yg/videos' target='_blank'>YouTube</a>
                </li>
            </ul>
        </div>
    </nav>

</p>

</footer>
