<footer class='footer'>

    <div class="footer__copyright-social__wrap">
        <p>&copy; Prompt Conf 2019</p>
        <div class='footer__social-icon-wrap'>
            <a class='footer__social-icon' href='mailto:organizers@promptconf.com'>
                <i class='fas fa-envelope'></i>
            </a>
            <a class='footer__social-icon' href='https://twitter.com/promptconf' target='_blank'>
                <i class='fab fa-twitter'></i>
            </a>
            <a class='footer__social-icon' href='https://facebook.com/promptconf' target='_blank'>
                <i class='fab fa-facebook-f'></i>
            </a>
            <a class='footer__social-icon' href='https://instagram.com/promptconfchi' target='_blank'>
                <i class='fab fa-instagram'></i>
            </a>
        </div>
    </div>

    <p class='footer__attribution'><a href='https://commons.wikimedia.org/wiki/File:Chicago_Lakefront_2.jpg' target='_blank'>Chicago lakefront photo</a> by <a href='https://commons.wikimedia.org/wiki/User:Dschwen' target='_blank'>Daniel Schwen</a> is licensed under <a href='https://creativecommons.org/licenses/by-sa/4.0/deed.en' target='_blank'>CC BY-SA 4.0</a>
</p>

</footer>