<footer>

    <div class='social-icon-wrap'>
        <a class='social-icon' href='mailto:organizers@promptconf.com'>
            <i class='fas fa-envelope'></i>
        </a>
        <a class='social-icon' href='https://twitter.com/promptconf' target='_blank'>
            <i class='fab fa-twitter'></i>
        </a>
        <a class='social-icon' href='https://facebook.com/promptconf' target='_blank'>
            <i class='fab fa-facebook-f'></i>
        </a>
        <a class='social-icon' href='https://instagram.com/promptconfchi' target='_blank'>
            <i class='fab fa-instagram'></i>
        </a>
    </div>
    <p>&copy; Prompt Conf 2019</p>

</footer>