<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Event",
    "location": {
        "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Chicago",
                "addressRegion": "IL",
                "postalCode": "60602",
                "streetAddress": "1 N Dearborn St"
            },
        "name": "ActiveCampaign"
    },
    "name": "{{ site.title }}",
    "about": "{{ site.description }}",
    "startDate": "{{ site.eventStartDate }}"
}
</script>