<h2>About PromptConf</h2>
<p class='home__about__text'>This is the inaugural year of PromptConf, a single-track polyglot tech conference coming to Chicago. This conference was forked with &#x1F49C; from our friends at <a href='http://bangbangcon.com/' target='_blank'>!!con</a>. PromptConf is a non-profit corporation and certified 501c3.</p>

<h3>Organizers</h3>

<div class='organizers-wrap'>
    {% for organizer in site.organizers %}
    <div class='organizer'>
        <div class='organizer__headshot-wrap'>
            <img class='organizer__headshot' src='assets/images/organizers/{{ organizer.image }}' alt='{{ organizer.name }}'>
        </div>
        <div class="organizer__info-wrap">
            <p class='organizer__name'>{{ organizer.name }}</p>
            <p>{{ organizer.company }}</p>
            <p>{{ organizer.pronouns }}</p>
        </div>
    </div>
    {% endfor %}
</div>
