<h2>About Prompt Conf</h2>
<p class='home__about__text'>This is the inaugural year of Prompt Conf, a single-track polyglot tech conference coming to Chicago. This conference was forked with &#x1F49C; from our friends at <a href='http://bangbangcon.com/' target='_blank'>!!con</a>. Prompt Conf is a non-profit corporation and certified 501c3.</p>

<h3>Organizers</h3>

<div class='organizers-wrap'>
    {% for organizer in site.organizers %}
    <div class='organizer'>
        <div class='organizer__headshot-wrap'>
            <img class='organizer__headshot' src='assets/images/organizers/{{ organizer.image }}' alt='{{ organizer.name }}'>
        </div>
        <p class='organizer__name-company'><span class='organizer__name'>{{ organizer.name }}</span>{{ organizer.company }}</p>
        <p>{{ organizer.pronouns }}</p>
    </div>
    {% endfor %}
</div>
