<div class='attend__content'>
    <h2>Attend</h2>
    <p>Join about 150 of your peers who are equally excited about tech! All attendees must comply with our <a href={{ site.baseurl }}{{ '/conduct/' }}>Code of Conduct</a>.</p>
    <p>Registration opens soon.</>
</div>

<div class='attend__email' id="email">
    {% include partials/email-newsletter.html %}
</div>

<div class="attend__icon attend__icon--plant"></div>
<div class="attend__icon attend__icon--photo"></div>
<div class="attend__icon attend__icon--ellipse"></div>