<div class='conference-info__wrap'>
    <div class='conference-info__headline'>
        <h1>Join us for Prompt Conf</h1>
        <p>An inaugural single-track polyglot tech conference coming to Chicago</p>
    </div>

    <div class='conference-info__date-location'>

        <p class='conference-info__date-location__details'>
            Saturday, September 28, 2019<br>
            10AM<br>
            Hosted by ActiveCampaign
        </p>

        <div class='conference-info__countdown'>
            <span class='countdown__item countdown__item--days'><span class='countdown__label'>D: </span><span
                    class='countdown__value'></span></span>
            <span class='countdown__item countdown__item--hours'><span class='countdown__label'>H: </span><span
                    class='countdown__value'></span></span>
            <span class='countdown__item countdown__item--minutes'><span class='countdown__label'>M: </span><span
                    class='countdown__value'></span></span>
            <span class='countdown__item countdown__item--seconds'><span class='countdown__label'>S: </span><span
                    class='countdown__value'></span></span>
        </div>
    </div>

    <div class='conference-info__cta'>
        <div class='conference-info__cta__content'>
            <h2 class='conference-info__cta__heading'>Speak</h2>
            <p>The call for proposals is now open! Share your 10-minute lightning talks about how computers and code make you happy.
                All talks must comply with our <a href={{ site.baseurl }}{{ '/conduct/' }}>Code of Conduct</a>. <strong>Submissions
                    accepted through June 19</strong>.</p>
        </div>
        <div class='conference-info__cta__button-wrap'>
            <a class='button gtm-cta' href={{ site.baseurl }}{{ '/404' }}>Submit your talk</a>
            <a class='button gtm-cta' href={{ site.baseurl }}{{ '/proposals' }}>Read the CFP</a>
        </div>
    </div>

    <div class='conference-info__cta'>
        <div class='conference-info__cta__content'>
            <h2 class='conference-info__cta__heading'>Attend</h2>
            <p>Join about 150 of your peers who are equally excited about tech! All attendees must comply with our <a
                    href={{ site.baseurl }}{{ '/conduct/' }}>Code of Conduct</a>. <strong>Registration opens in late July.</strong>
            </p>
        </div>
        <div class='conference-info__cta__button-wrap'>
            <a class='button gtm-cta' href='#email'>Sign up for Notifications</a>
        </div>
    </div>

</div>
