<h2>Join us for Prompt Conf</h2>
<p>A single-track polyglot tech conference coming to Chicago</p>

<div>
    <h3>Be a speaker</h3>
    <p>The call for proposals is now open! Share your lightning talks about how computers make you happy. Submissions accepted through June 19.</p>
    <a class='button' href={{ '/404' | absolute_url }}>Submit your talk</a>
    <a class='button' href={{ '/proposals' | absolute_url }}>Read more about our CFP</a>
</div>

<div>
    <h3>Attend</h3>
    <p>Registration opens in late July. <a href='#email'>Sign up to be notified when tickets become available</a> and watch this space!</p>
</div>

<div class="countdown">
    <p class="countdown__time-left"></p>
</div>

<script src={{ 'assets/js/countdown.js' | absolute_url }}></script>