<div class='conference-info__wrap'>
    <div class='conference-info__headline'>
        <h1>Join us for Prompt Conf</h1>
        <p>A full day of ten-minute talks on the joy of computing</p>
    </div>

    <div class='conference-info__date-location'>

        <p class='conference-info__date-location__details'>
            Saturday, September 28, 2019<br>
            10AM<br>
            Hosted by ActiveCampaign<br>
            Chicago, IL
        </p>

        <div class='conference-info__countdown'>
            <span class='countdown__item countdown__item--days'><span class='countdown__label'></span><span
                    class='countdown__value'></span></span>
            <span class='countdown__item countdown__item--hours'><span class='countdown__label'></span><span
                    class='countdown__value'></span></span>
            <span class='countdown__item countdown__item--minutes'><span class='countdown__label'></span><span
                    class='countdown__value'></span></span>
            <span class='countdown__item countdown__item--seconds'><span class='countdown__label'></span><span
                    class='countdown__value'></span></span>
        </div>
    </div>

    <div class='conference-info__cta'>
        <div class='conference-info__cta__content'>
            <h2 class='conference-info__cta__heading'>Speak</h2>
            <p>The call for proposals is now open! Share your 10-minute lightning talks about how computers and code make you happy.</p>
            <p>All talks must comply with our <a href={{ site.baseurl }}{{ '/conduct/' }}>Code of Conduct</a>.</p>
        </div>
        <div class='conference-info__cta__button-wrap'>
            <a class='button gtm-cta' href={{ site.baseurl }}{{ '/proposals' }}>Submit your talk</a>
            <p class='conference-info__cta__content--small'>Submissions accepted through <strong>June 30</strong>.</p>
        </div>
    </div>

    <div class='conference-info__cta'>
        <div class='conference-info__cta__content'>
            <h2 class='conference-info__cta__heading'>Attend</h2>
            <p>Join about 150 of your peers who are equally excited about tech! All attendees must comply with our <a href={{ site.baseurl }}{{ '/conduct/' }}>Code of Conduct</a>.</p>
            <p><strong>Registration and volunteering opportunities are coming soon.</strong></p>
        </div>
        <div class='conference-info__cta__button-wrap'>
            <a class='button gtm-cta' href='#email'>Sign Up For Notifications</a>
        </div>
    </div>

</div>
