<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://promptconf.us20.list-manage.com/subscribe/post?u=f6066ebcf9d714b547ba07b8e&amp;id=e0e2d123bb"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">
            <h2>Get Updates</h2>
            <p>Be notified when registration and other opportunities open:</p>
            <div class="mc-field-group home__email__address-wrap">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email home__email__address__textbox" id="mce-EMAIL">
            </div>
            <div class="mc-field-group input-group">
                <ul>
                    <li class='home__email__checkbox-wrap'>
                        <input type="checkbox" value="4" name="group[2313][4]" id="mce-group[2313]-2313-2">
                        <label for="mce-group[2313]-2313-2">Tell me when tickets are on sale</label>
                    </li>
                    <li class='home__email__checkbox-wrap'>
                        <input type="checkbox" value="8" name="group[2313][8]" id="mce-group[2313]-2313-3">
                        <label for="mce-group[2313]-2313-3">Tell me how to volunteer</label>
                    </li>
                </ul>
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_f6066ebcf9d714b547ba07b8e_e0e2d123bb" tabindex="-1" value=""></div>
            <div class="clear home__email__submit-wrap"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe"
                    class="button"></div>
        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
