<h2>FAQ</h2>



<dl class='faq__list'>
    <dt>How do I purchase a ticket? When can I register?</dt>
    <dd>
        Registration will open in late July. In the meantime, <a class='gtm-cta' href='/#email'>sign up for email notifications</a> so you don't miss when tickets are on sale!
    </dd>
    <dt>Do I have to be a coder to submit a talk?</dt>
    <dd>
        No, you don't have to be a coder to submit! We do want the talk to be related to programming, web development, web
        design, computing, etc. but no you do not have to be a coder yourself.
    </dd>
</dl>