<h2>FAQ</h2>

<dl class='faq__list'>
    <dt>How do I purchase a ticket? When can I register?</dt>
    <dd>
        {% if site.registrationIsOpen %}
            Tickets are <a href={{ site.registrationURL }} target="_blank">on sale now</a>!
        {% else %}
            <p><a href="#attend">Join our mailing list</a> to stay informed.</p>
        {% endif %}

    </dd>
    <dt>Do I have to be a coder to submit a talk?</dt>
    <dd>
        No, you don't have to be a coder to submit! We do want the talk to be related to programming, web development, web
        design, computing, etc. but no you do not have to be a coder yourself.
    </dd>
    <dt>How long will the talks be?</dt>
    <dd>
        All talks will be 10 minutes in length! This is with the exception of the keynote presentation(s), which will be 25 minutes each.
    </dd>
</dl>
