<h2>Location</h2>

<div class="loc__chicons">
    <div class="loc__chicon loc__chicon--music"></div>
    <div class="loc__chicon loc__chicon--flamingo"></div>
    <div class="loc__chicon loc__chicon--donut"></div>
    <div class="loc__chicon loc__chicon--flag"></div>
    <div class="loc__chicon loc__chicon--pizza"></div>
    <div class="loc__chicon loc__chicon--bean"></div>
    <div class="loc__chicon loc__chicon--ramps"></div>
</div>

<div class="loc__photo-map-banner">
    <img class='loc__ac-image loc__ac-image--a' src={{ site.baseurl }}{{ '/assets/images/home/ac_death-star.jpeg' }} alt="Conference room at ActiveCampaign">
    <img class='loc__ac-image loc__ac-image--b' src={{ site.baseurl }}{{ '/assets/images/home/ac_cafe-lounge-back.jpeg' }} alt="Lounge area at ActiveCampaign">
    <a class='loc__map' href="https://www.google.com/maps/place/1+North+Dearborn+Street,+Chicago,+IL/" target="_blank">
        <img
            src="https://maps.googleapis.com/maps/api/staticmap?center=1+North+Dearborn+Street,+Chicago,+IL&zoom=16&scale=2&size=440x341&maptype=roadmap&key=AIzaSyAezMQqhn7jhG30z4AzxzxaOC0hGnM4osM&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x4C4CBE%7Clabel:1%7CActiveCampaign,+1+North+Dearborn+Street,+Chicago,+IL"
            alt="Google Map of 1 North Dearborn Street, Chicago, IL">
    </a>
    <img class='loc__ac-image loc__ac-image--c' src={{ site.baseurl }}{{ '/assets/images/home/ac_cafe-lounge-front.jpeg' }} alt="Lounge area at ActiveCampaign">
    <img class='loc__ac-image loc__ac-image--d' src={{ site.baseurl }}{{ '/assets/images/home/ac_lobby.jpeg' }} alt="Elevator lobby at ActiveCampaign">
</div>


    <p class="loc__cta-text">
        The conference will be held at Active Campaign (<a href="https://goo.gl/maps/sZJbhrnqarhD4teN6" target="_blank">Google Map</a>) in downtown Chicago on Saturday, September 28, 2019.
    </p>
