<h2>Location</h2>

<div class="loc__chicons">
    <div class="loc__chicon loc__chicon--music"></div>
    <div class="loc__chicon loc__chicon--flamingo"></div>
    <div class="loc__chicon loc__chicon--donut"></div>
    <div class="loc__chicon loc__chicon--flag"></div>
    <div class="loc__chicon loc__chicon--pizza"></div>
    <div class="loc__chicon loc__chicon--bean"></div>
    <div class="loc__chicon loc__chicon--ramps"></div>
</div>

<div class="loc__photo-map-banner"></div>


    <p class="loc__cta-text">
        The conference will be held at Active Campaign (<a href="https://goo.gl/maps/sZJbhrnqarhD4teN6" target="_blank">Google Map</a>) in downtown Chicago on Saturday, September 28, 2019.
    </p>
