<h2>Keynote Speakers</h2>

<div class="keynote__wrap">
    <div class='keynote-speaker'>
        <div class='speaker__headshot__wrap'>
            <img src={{ site.baseurl }}{{ '/assets/images/speakers/ceder_naomi.jpeg' }} alt='Naomi Ceder'>
        </div>
        <p class='speaker__name-title'>
            <span class='speaker__name'>Naomi Ceder</span>Co-founder of Trans*Code & Chair of Python Software Foundation Board of Directors
        </p>
    </div>

    <div class='keynote-speaker'>
        <div class='speaker__headshot__wrap'>
            <img src={{ site.baseurl }}{{ '/assets/images/speakers/thompson_mark.jpeg' }} alt='Mark Thompson'>
        </div>
        <p class='speaker__name-title'>
            <span class='speaker__name'>Mark Thompson</span>Founder, Totally Strong Director, Instructional Quality at 2U
        </p>
    </div>
</div>

<a class='button home--button gtm-cta' href={{ site.baseurl }}{{ '/speakers' }}>See our speaker lineup</a>