<h2>Confirmed Keynote Speakers</h2>

<div class="keynote__wrap">
    <div class='keynote-speaker'>
        <div class='speaker__headshot__wrap'>
            <img src={{ site.baseurl }}{{ '/assets/images/speakers/ceder_naomi.jpeg' }} alt='Naomi Ceder'>
        </div>
        <p class='speaker__name-title'>
            <span class='speaker__name'>Naomi Ceder</span>Co-founder of Trans*Code & Chair of Python Software Foundation Board of Directors
        </p>
    </div>

    <div class='keynote-speaker'>
        <div class='speaker__headshot__wrap'>
            <img src={{ site.baseurl }}{{ '/assets/images/speakers/thompson_mark.jpeg' }} alt='Mark Thompson'>
        </div>
        <p class='speaker__name-title'>
            <span class='speaker__name'>Mark Thompson</span>Director, Instructional Quality - Trilogy Education Services, Inc.
        </p>
    </div>
</div>
