<h2>Sponsors</h2>

<div class='sponsors'>
    <div class='sponsors__row'>
        <div class='sponsor__block'>
            <a href='https://www.activecampaign.com/' target='_blank'><img class='sponsor__logo' src={{ site.baseurl }}{{ '/assets/images/sponsors/activecampaign_mark.svg'}} alt='ActiveCampaign'></a>
        </div>
    </div>
    <div class='sponsors__row'></div>
    <div class='sponsors_cta-text'>
        <p>By sponsoring Prompt Conf, you and your organization have the opportunity to join an event dedicated to celebrating the diverse talent in Chicago tech.</p>
        <p>Interested in sponsoring? Check out our <a href={{ site.baseurl }}{{ '/sponsorship' }} class='gtm-cta'>Sponsors</a> page!</p>
    </div>
</div>
