<h2>Sponsors</h2>

<div class='sponsors'>
    <div class='sponsors__row'>
        <div class='sponsor__block'>
            <img class='sponsor__logo' src={{ site.baseurl }}{{ '/assets/images/sponsors/activecampaign.png'}} alt='ActiveCampaign'>
            <!-- <p>Location Sponsor</p> -->
        </div>
    </div>
    <div class='sponsors__row'></div>
    <div class='sponsors__row'>
        <!-- <p>Thank you to our sponsors!</p> -->
        <a href={{ site.baseurl }}{{ '/sponsorship' }} class='button'>Sponsorship Prospectus</a>
    </div>
</div>
